<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_emp_passport_register" parent="slnee_hr.menu_gr"
            action="action_emp_passport_register_view" sequence="10"
            groups="slnee_hr.group_gr_assistant"/>

    <menuitem id="menu_emp_passport_request" parent="hr.menu_hr_main"
            action="action_emp_passport_request_view" sequence="4"
            groups="base.group_user"/>

    <menuitem id="menu_int_passport_process" parent="slnee_hr.menu_gr"
            action="action_int_passport_process_view" sequence="11"
            groups="slnee_hr.group_gr_assistant"/>

</odoo>