<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_it_operations" name="IT Operations" sequence="15" web_icon="slnee_hr_it_operations,static/description/icon.png"/>
    <menuitem action="menu_employee_registration_view" id="menu_emp_reg_all" name="Employee Registration" parent="menu_it_operations" groups="hr.group_hr_user" sequence="1"/>
    <!-- <menuitem action="menu_employee_deregistration_view" id="menu_emp_dereg_all" name="Employee De-Registration" sequence="2" parent="menu_it_operations" groups="base.group_user"/>
    <menuitem id="menu_child_of_it_operations" name="Equipment Request" parent="menu_it_operations" sequence="3" action="action_it_operations" /> -->

    <menuitem id="menu_equipment_request" name="Equipment Request" parent="menu_it_operations" sequence="3" action="action_maintenance_equipment_request" />

</odoo>
